div{
    width: 150px;
    height: 150px;
    background-color: coral;
    border: 2px black solid;
    display: inline-block
}
#box1{
    position: static;
    top: 100px;
    left: 100ppx
}
#box2{
    background-color: green;
    position: fixed;
    width:100vw;
    left: 0px;
    bottom: 0px
}
#box3{
    background-color: blue;
   /*position: absolute;*/
    color: white;
    top: 100px;
    left: 30px; 
}
#box4{
    position: fixed;
    bottom: 0px;
    top: 100vw;
    left: 50vw
}